{% extends "base.html.twig" %}


{% block title %}ph | cart
{% endblock %}

{% block body %}
	<div class="w-full  flex flex-col justify-center items-center mt-[10vh] xl:mt-20">

		{% if cart|length == 0 %}
			<p class="poppins-light xl:text-xl text-3xl">Your cart is currently empty.
				<a href="/">
					<span class="underline">Continue here</span>
				</a>
			</p>
		{% else %}
			<div class="xl:w-[700px] w-[90vw] shadow-2xl xl:max-h-[500px] overflow-y-auto overflow-x-hidden">
				<table class=" xl:w-[700px] w-[90vw]">
					{% for prod in cart %}
						<tr>
							<td class="px-4 py-2">
								<div class="xl:h-[80px] xl:w-[80px] h-[100px] w-[100px]">
									<a href="product/{{prod.id}}">
										<img src="{{asset(prod.image)}}" alt="product-{{prod.id}}">
									</a>
								</div>
							</td>
							<td class="px-4 xl:text-base text-2xl geologica">{{prod.name|upper}}</td>
							<td class="px-4 xl:text-base text-2xl poppins-medium">{{prod.quantity}}</td>
							<td class="px-4 xl:text-base text-2xl poppins-medium">{{prod.size}}</td>
							<td class="px-4 xl:text-base text-2xl geologica">{{prod.price}}$</td>
							<td class="px-4 xl:text-base text-2xl geologica">
								<form action="{{ path('cart_remove') }}" method="post">
									<input type="hidden" name="product_id" value={{prod.id_cart}}>

									<button type="submit">
										<i class="fa-solid fa-xmark text-4xl xl:text-2xl"></i>
									</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>


			<div class="mt-10 flex flex-row gap-8 items-center">
				<form action="{{path("checkout")}}" method="post">
					<button type="submit" class="geologica px-4 py-1 xl:text-xl text-3xl border-[1px] border-black text-white bg-black hover:text-black hover:bg-white transition-all shadow-lg">{{"Proceed to checkout"|upper}}</button>

				</form>
				<form action="{{path("cart_remove_all")}}" method="post">
					<button type="submit" class="geologica px-4 py-1  xl:text-xl text-3xl border-[1px] border-black shadow-lg text-black bg-white hover:text-white hover:bg-black transition-all">{{"Remove all"|upper}}</button>


				</form>
				<p class="geologica text-left text-4xl xl:text-2xl">
					{{"total:  "|upper}}
					<span class="font-semibold">
						{{price}}$
					</span>
				</p>

			</div>
		{% endif %}

	</div>
{% endblock %}
