{% extends "base.html.twig" %}

{% block title %}
	ph |
	{{product.name}}
{% endblock %}

{% block body %}
	<div class="flex justify-center">
		<div class="flex justify-center mt-10 gap-10 shadow-2xl w-max p-10">
			<img src={{asset(product.image)}} alt="product-{{product.id}}">
			<div class="w-[500px]">
				<h1 class="text-4xl geologica">{{product.name}}</h1>
				<p class="poppins-regular my-6">{{product.description}}</p>
				<p class="text-3xl geologica">{{product.price}}
					$</p>
				<div class="flex gap-4 mt-6">
					<button class="poppins-medium text-3xl">s</button>
					<button class="poppins-medium text-3xl">m</button>
					<button class="poppins-medium text-3xl">l</button>
					<button class="poppins-medium text-3xl">xl</button>
				</div>
				{# <button class="poppins-medium shadow-xl px-2 ">add to cart</button> #}
			</div>

		</div>
	</div>

	<a class="absolute top-12 right-20" href="/cart">
		<i class="fa-solid fa-xl fa-cart-shopping"></i>
	</a>


{% endblock %}
